{% load widget_tweaks %}

<form action="{{ request.path }}" method="post">
    {% csrf_token %}

    {{ form.id }} {{ form.stationid.as_hidden }}
    {{ form.yyyy.as_hidden }} {{ form.mm.as_hidden }} {{ form.dd.as_hidden }}
    {{ form.hh.as_hidden }}

    {% render_field form.user value='{{ request.user.id }}' class+="d-none" %}
    {% render_field form.signature value='{{ request.user.username }}' class+="d-none" %}

    {{ form.non_field_errors }}

    <div class="panel panel-default">

        <div class="panel-body" style="clear: both">
            <div class="row pt-1 pb-5">

                {% for column in form.columns %}
                <div class="col-sm-4 pt-5">
                    <table>
                        <tr>
                            <td style="text-align: center"></td>
                            <td style="text-align: center"><label>Value</label></td>
                            <td style="text-align: center"><label>Flag</label></td>
                        </tr>
                        {% for field in column %}
                        <tr>
                            <td><label class="pr-1">{{ field.value.label }}</label></td>
                            <td>{% render_field field.value style="width:60px" %}</td>
                            <td>{% render_field field.flag style="width:60px" %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="text-center pt-4">
        <button type="submit" class="btn btn-light">Save</button>
        <a href="#" class="btn btn-light ml-4 disabled" aria-disabled="true" role="button">Delete</a>
        <a href="#" class="btn btn-light ml-4 disabled" aria-disabled="true" role="button">View</a>
        <a href="{% url 'keyentry:contents' %}" class="btn btn-light ml-4" role="button">Close</a>
    </div>

</form>
