{# Django class based views automatically construct the <modelname>_list.html name if no template_name is passed #}

{% if metadata_list %}

    {% for item in metadata_list %}

    <ul>

    <li>
        <h2>Element name:{{ item.elementname }}</h2>
        <h2>Id:{{ item.elementid }}</h2>
        <form action="{% url 'metadata:element-delete' item.elementid %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">Delete</button>
        </form>
        <form action="{% url 'metadata:element-update' item.elementid  %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">Update</button>
        </form>
    </li>


    </ul>

{% endfor %}

    {% else %}
    <h1>No element entries found in the database.</h1>


{% endif %}
